<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
          CRAB-CMS
      </a>
    </div>
  </div>
</nav>