body {
    padding-top: 30px;
}

.content.container {
    padding-top: 30px;
}

.carousel-index {
    height: 400px;
    background: #f8f8f8;
    overflow: hidden;
    margin-top: 20px;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img {
    width: 100%;
}

.carousel-indicators li {
    border: 1px solid #ea6d51
}

.carousel-indicators .active {
    background-color: #ea6d51;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
}

.list-article .panel-body {
    padding: 8px 16px;
}

.page-header {
    margin: 0 0 20px;
}

.navbar-brand {
    padding-top: 6px;
    font-weight: bold;
}

.navbar-brand .icon {
    font-size: 32px;
}

.pagination>span {
    padding: 8px 8px;
    display: inline-block;
    font-size: 12px;
}

.text-main {
    color: #2b7ab9;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.list-article .panel {
    margin-bottom: 8px;
    border: none;
    box-shadow: 0 1px 0px rgba(0, 0, 0, .1);
}

.list-article a {
    font-size: 16px;
}

.text-time {
    font-size: 12px;
}

.list-article .text-time {
    color: #888;
}

small {
    color: #77778b;
}

.detial-wrapper {
    margin-top: 50px;
}

.footer {
    padding: 16px;
}

.comment-box {}

.comment-box .item {
    background: #f7f7f7;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 12px;
}

.comment-box .content {
    padding: 4px;
}

.comment-box nav {
    margin-top: -20px;
}

.comment-box h4 {
    font-size: 16px;
}

.form-comment {
    width: 480px;
    padding-bottom: 30px;
}