@import '~iview/src/styles/index.less';
@import './util.less';
hr {
    margin: 8px 0;
    border: 1px solid #dddee1;
}

button.ivu-btn {
    padding: 4px 15px;
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }